@{
    ViewData["Title"] = "Home Page";

    var students = ViewData["Mystudents"] as List<Student>;
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


@* <table>
    <tr>
        <th>Roll no</th>
        <th>Name</th>
        <th>Gender</th>
        <th>Standard</th>
    </tr>
        @foreach (var std in students)
        {
        <tr>
            <th>@std.RollNo</th>
            <th>@std.Name</th>
            <th>@std.Gender</th>
            <th>@std.Standard</th>
        </tr>
        }
    
</table> *@